/* Base styles */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #00ff00;
    font-family: 'Courier New';
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-text {
    color: #0f0;
    font-family: monospace;
    font-size: 24px;
    text-shadow: 0 0 5px #0f0;
    margin-bottom: 20px;
}

.continue-button {
    background: #0f0;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-family: monospace;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 5px #0f0;
    transition: all 0.3s ease;
}

.continue-button:hover {
    background: #0f0;
    box-shadow: 0 0 10px #0f0;
}


/* Layout containers */
#matrix-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.grid-container {
    z-index: 2;
}

/* Terminal styles */
#terminal {
    width: 80%;
    max-width: 800px;
    height: 60vh;
    border: 1px solid #00ff00;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
}

/* Terminal components */
#output {
    flex-grow: 1;
    margin: 0;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 4px;
}

.input-line {
    display: flex;
    align-items: center;
    padding: 10px;
}

.prompt {
    color: #00ff00;
    font-size: 14px;
}

#command-input {
    background: transparent;
    border: none;
    color: #00ff00;
    font-family: 'Share Tech Mono', monospace;
    font-size: 14px;
    outline: none;
    width: 100%;
    padding: 5px;
    margin-left: 5px;
}

/* Header styles */
.header {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
    background: rgba(0, 0, 0, 0.8);
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.header p {
    font-size: 16px;
    margin: 0;
}